:host {
  position: absolute;
  z-index: 998;
  top: calc(100% + 0.25rem);
  right: 0;
  width: 18rem;
  padding: 1rem;
  background-color: var(--surface-card);
  border: 1px solid var(--surface-border);
  border-radius: var(--content-border-radius);
  box-shadow:
    0 3px 5px rgba(0, 0, 0, 0.02),
    0 0 2px rgba(0, 0, 0, 0.05),
    0 1px 4px rgba(0, 0, 0, 0.08);
}
